@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@config "../../tailwind.config.ts";

:root {
    --background: #ffffff;

    --foreground: #171717;
}
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #6b7280;
    pointer-events: none;
    height: 0;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}
.scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}
.scrollbar-custom::-webkit-scrollbar {
    width: 6px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
}
.scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}
.scrollbar-custom::-webkit-scrollbar {
    width: 6px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
}

.prose {
    max-width: 100%;
}

.Toastify__progress-bar--bg {
    background: linear-gradient(
        to right,
        rgba(209, 213, 219, 0.5),
        /* #D1D5DB - gray-300 */ rgba(96, 99, 103, 0.5),
        rgba(23, 24, 24, 0.5)
    ) !important;
}
